<section>
<div class="listings-container">
  <h4 class="featured"><span>Featured</span> Listings</h4>
  <div class="listings">

    <% for (let house of houses) {%>
      <div class="listing">
        <p> <%= house.title %> </p>
        <img src='<%= house.photo_1 %>'>
        <p> <%= house.price %> </p>
        <p> <%= house.description %> </p>

        <a class="link" href="/details/<%= house.id %>">Details</a>
      </div>
     <%  } %>
      <div class="listing">

      </div>

  </div>
</div>
</section>
